
* {
    margin: 0;
    padding: 0;
}


body {
    background-color: rgb(122, 44, 199);
    font-family: sans-serif;

}



img {
    border-radius: 50%;
    width: 320px;
    height: 320px;
    border: 1px solid rgb(65, 0, 131) ;
}

h1 {
    color: white;
    margin-top: 31px;
    margin-bottom: 8px;


}

P {
    color: white;
}

UL {
    margin-top: 35px;

}

li {
    margin-bottom: 18px;
    list-style: none;
}

a {
    background-color: white;
    color: black;
    padding: 15px;
    text-decoration: none;
    display: block;
    border-radius: 5px;

}

a:hover {
    background-color: rgb(65, 0, 131);
    color: white;

}

footer {
    color: white;
}
.container {
    background-color: rgb(122, 44, 199) ;
    width: 320px;
    text-align: center;
    margin-top: 41px;
    margin-left: auto;
    margin-right: auto;
}